@use '../abstracts/variables';
@use '../base/typo';




.about-section .grid{
  img{
    //width: 100%;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    border-radius: variables.$global-border-radius;
  }
}

