@use "../base/typo";
@use "../abstracts/variables";

.blog-header {
  text-align: center;
}
.blog-section {
  h2 {
    text-align: center;
  }
  p {
    margin-inline: auto;
    max-width: 60ch;
  }
  .btn-download {
    justify-self: center;
  }
  img {
    justify-self: center;
    max-width: 100%;
    width: 45rem;
  }
  .list {
    max-width: 60ch;
    margin-inline: auto;
  }
}
.blog-recommendation .container {
  h2 {
    text-align: center;
  }
  ul {
    margin-inline: auto;
    text-align: center;
    max-width: 60ch;
  }
}

.project-team {
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1rem;
  text-align: center;
}

.project-team-group h4 {
  margin: 0 0 1rem;
}

// blog2

.blog2-section p {
  max-width: 60ch;
}
